@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.items {
	display: flex;
	flex-wrap: wrap;
}

.item {
	flex: 1 0 50%;
	display: flex;
	flex-direction: column;
	
	@media screen and (min-width: 486px) and (max-width: 991px){
		padding-right: rem(15);
	}
	
	@media screen and (max-width: 485px){
		flex: 1 0 100%;
		align-items: center;
		
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
	
	&:nth-child(n + 3) {
		@media screen and (min-width: 486px){
			margin-top: rem(48);
		}
	}
	
	&__icon {
		height: rem(86);
		margin-bottom: rem(10);
	}
	
	&__text {
		color: $light;
		font-family: $font-gilroy-600;
		font-size: rem(15);
		font-weight: 400;
		line-height: 1.46666;
		max-width: 250px;
		
		@media screen and (max-width: 485px){
			text-align: center;
		}
	}
}
