@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.list {
	counter-reset: count;
	list-style-type: none;
	
	li {
		color: $secondary;
		font-family: $font-gilroy-600;
		font-size: rem(24);
		font-weight: 400;
		line-height: 2.5;
		
		@media screen and (max-width: 1366px){
			font-size: rem(16);
			line-height: 2;
		}
		
		&::before {
			margin-right: rem(22);
			color: $primary;
			counter-increment: count;
			content: counter(count) ".";
			
			@media screen and (max-width: 1366px){
				margin-right: rem(12);
			}
		}
	}
}
