@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.nav {
	display: flex;
	font-size: 0;
	
	.menu-drop & {
		width: 100%;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: rem(40, 15);
	}
	
	&__link {
		position: relative;
		font-size: rem(15);
		font-weight: 400;
		font-family: $font-gilroy-400;
		line-height: 2.33333;
		color: $contrast;
		transition: font-weight .15s ease-in-out;
		
		&.js-active {
			font-weight: 700;
			font-family: $font-gilroy-700;
		}
		
		.menu-drop & {
			display: block;
			width: 100%;
			color: $primary;
		}
		
		& + & {
			margin-left: rem(30);
			
			@media screen and (max-width: 1366px) {
				margin-left: rem(15);
			}
			
			.menu-drop & {
				margin-left: 0;
			}
		}
		
		&::before {
			position: absolute;
			content: '';
			top: 100%;
			left: 50%;
			right: 50%;
			z-index: 1;
			height: 1px;
			background-color: $contrast;
			transition: left .15s ease-in-out, right .15s ease-in-out;
		}
		
		&:hover {
			&::before {
				left: 0;
				right: 0;
			}
		}
	}
}

.menu-drop {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	z-index: 999;
	background-color: $contrast;
	transform: translateY(-100%);
	transition: transform .5s ease-in-out;
	
	@media screen and (max-width: 485px){
		display: flex;
	}
	
	.is-menu-open & {
		transform: translateY(0);
	}
}
