@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	.logo {
		width: rem(230);
		height: rem(102);
		
		@media screen and (max-width: 1366px){
			width: rem(150);
			height: auto;
		}
	}
}
