@import "../../shared/variables";
@import "../../shared/mixin/px-to-rem";

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: rem(30);
	height: rem(60);
	white-space: nowrap;
	padding: 0 rem(68);
	color: $contrast;
	font-family: $font-gilroy-700;
	font-size: rem(24);
	font-weight: 700;
	line-height: 1;
	cursor: pointer;
	transition: opacity .15s ease-in-out;
	
	@media screen and (max-width: 1366px){
		height: rem(40);
		padding: 0 rem(38);
		font-size: rem(16);
	}
	
	&-primary {
		background-color: $primary;
	}
	
	&:hover {
		opacity: .85;
	}
}
