@import "../../shared/variables";
@import "../../shared/mixin/px-to-rem";

.form {
	
	&__group {
		& + & {
			margin-top: rem(20);
		}
	}
	
	&__control {
		display: block;
		width: 100%;
		height: rem(60);
		background-color: $primary-light;
		border: 1px solid transparent;
		padding: 0 rem(20);
		font-family: $font-gilroy-600;
		font-size: rem(24);
		line-height: 1;
		font-weight: 400;
		
		@media screen and (max-width: 1366px){
			font-size: rem(16);
			height: rem(40);
		}
		
		@at-root {
			textarea#{&} {
				height: rem(200);
				padding: rem(15, 20);
				resize: none;
			}
		}
		
		&.invalid {
			border-color: $danger;
		}
		
		&.valid {
			border-color: $success;
		}

		&:focus {
			&::placeholder {
				opacity: 0;
			}
		}
		
		&::placeholder {
			color: $light;
			font-family: $font-gilroy-600;
			font-size: rem(24);
			font-weight: 400;
			line-height: 1;
			transition: opacity .15s ease-in-out;
			
			@media screen and (max-width: 1366px){
				font-size: rem(16);
			}
		}
	}
	
	&__btn {
		margin-top: rem(20);
		
		@media screen and (max-width: 485px){
			margin: rem(20) auto 0;
			display: block;
		}
	}
}
