@import "shared/variables";
@import "shared/mixin/px-to-rem";

body {
	font-size: rem(15);
	line-height: 2.3333;
	color: $secondary;
	font-family: $font-gilroy-400;
	background-color: $primary;
	overflow-y: auto;
	overflow-x: hidden;
	
	@media screen and (min-width: 992px){
		overflow: hidden;
	}
	
	&::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: url("../img/general/blur.png") no-repeat 0 0 / 100% 100%;
		z-index: 1;
		pointer-events: none;
		opacity: .15;
	}
}

figure {
	margin: 0;
}

br {
	@media screen and (max-width: 1366px){
		display: none;
	}
}

.container {
	padding: rem(0, 100);
	
	@media screen and (min-width: 768px) and (max-width: 1366px){
		padding: rem(0, 40, 0, 50);
	}
	
	@media screen and (max-width: 767px){
		padding: rem(0, 15);
	}
}

.main {
	overflow: hidden;
	position: relative;

	@media screen and (min-width: 992px){
		height: 100vh;
	}
	
	&__container {
		position: relative;
		z-index: 2;

		@media screen and (min-width: 992px){
			display: flex;
			height: inherit;
		}
	}
	
	&__column {
		overflow: hidden;

		@media screen and (min-width: 992px){
			//height: inherit;
			flex: 1 0 50%;
		}
	}
	
	&__title-block {
		position: relative;
		z-index: 3;
		padding-top: rem(64);
		padding-bottom: rem(84);
		opacity: 1;
		transition: opacity .5s ease-in-out .5s;
		
		@media screen and (max-width: 1366px){
			padding-top: rem(34);
			padding-bottom: rem(44);
		}
		
		@media screen and (max-width: 991px){
			min-height: 100vh;
			height: 1px;
		}
		
		.is-preload & {
			opacity: 0;
		}
	
		.container {
			position: relative;
			z-index: 3;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			
			& > .nav {
				@media screen and (max-width: 485px){
					display: none;
				}
			}
		}
		
		.caption {
			flex-grow: 1;
			display: flex;
			align-items: flex-end;
			font-size: rem(48);
			line-height: 1.125;
			font-weight: 700;
			font-family: $font-gilroy-700;
			color: $contrast;
			margin: 0;
			margin-bottom: rem(50);
			
			@media screen and (min-width: 1367px){
				padding-right: rem(65);
			}
			
			@media screen and (max-width: 1366px){
				font-size: rem(32);
			}
		}
	}
	
	&__scrolling-block {
		position: relative;
		z-index: 3;
		background-color: $contrast;
		transform: translateX(0);

		@media screen and (min-width: 992px) {
			overflow-y: auto;
			overflow-x: hidden;
			transition: transform .5s ease-in-out .5s;

			.is-preload & {
				transform: translateX(100%);
			}
		}
		
		//@media screen and (max-width: 767px){
		//	padding-top: rem(54);
		//	padding-bottom: rem(54);
		//}
		
		&::-webkit-scrollbar { width: 0 !important }
		& { overflow: -moz-scrollbars-none; }
		& { -ms-overflow-style: none; }
	}
}

.sec {
	padding: rem(180) 0;
	
	@media screen and (max-width: 1366px){
		padding: rem(60) 0;
	}
	
	&-opposite {
		background-color: $primary-light;
	}
	
	&__title {
		color: $secondary;
		font-size: rem(60);
		font-weight: 700;
		font-family: $font-gilroy-700;
		line-height: .58;
		margin-bottom: rem(40);
		
		@media screen and (max-width: 1366px){
			font-size: rem(40);
			margin-bottom: rem(30);
		}
		
		@media screen and (max-width: 767px){
			line-height: 1;
		}
	}
	
	&__text {
		font-size: rem(24);
		line-height: 1.3333;
		font-family: $font-gilroy-600;
		font-weight: 400;
		color: $light;
		
		@media screen and (max-width: 1366px){
			font-size: rem(16);
		}
	}
	
	&__items {
		margin-top: rem(40);
		
		@media screen and (max-width: 1366px){
			margin-top: rem(30);
		}
	}
	
	&__list {
		margin-top: rem(40);
		
		@media screen and (max-width: 1366px){
			margin-top: rem(30);
		}
	}
	
	&__form {
		margin-top: rem(40);
		max-width: 600px;
		
		@media screen and (max-width: 1366px){
			margin-top: rem(30);
		}
	}
}

/************************/
.bg-video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 1;
	opacity: .2;
	transition: opacity .5s ease-in-out .5s;
	
	.is-preload & {
		opacity: 0;
	}
}
.wow, .wowInside {
	visibility: hidden;
}
